<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" th:rel="stylesheet" />
    <title>songs</title>
</head>

<body>
    <div th:insert="~{fragments :: header}"></div>
    <h1>Songs List: </h1>
    <p>
        <span th:each="song, iterStat : ${songs}">
            <span th:text="${song.title}"></span><span th:if="${!iterStat.last}">, </span>
        </span>
    </p>
</body>

</html>